/* STYLESHEET FOR CITY TECH - DEPARTMENT SECOND LEVEL PAGES- content areas*/
/* LINKS */

a:link{font-family: Arial, Helvetica, sans-serif; text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none; outline:none;}
a:active{outline:none;}
/* END */


/* CONTENT sizing and margins etc for all columns */
#homeContent{	/*this is the original, but make new one for each new page since height changes- or try to do the uniform height- up to you*/
	background-color: #fff;
	height:auto;
	clear: left;
	padding-bottom: 25px;
	width: 523px;
	padding-right: 20px;
	padding-top: 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
#homeContent #title{	height: 30px;	width: 495px;	margin:0px 0px 10px 30px;	font-size:11px;	font-weight:normal;		padding:0px 0px 0px 0px;}

#homeContent #areasTitle{	height: 20px;
	width: 495px;/* AAA */
	margin:0px 0px 10px 30px;
	background-image:url('../images/areasofstudy.jpg');
	background-repeat:no-repeat;	font-size:11px; font-weight:normal;
	background-position:0 -10px;
	padding:10px 0px 0px 0px;
}
	
#homeContent #areasTitle div{ float:right; font-size:11px; font-weight:normal; margin:0px; padding:0px; /*margin-top:15px; height:15px;*/ }
#homeContent #areasContainer{	margin:6px 0px 5px 30px;	width:495px;/*AAA*/	height:70px;	}
#homeContent #areasContainer a{	color:#000; line-height:19px; }
#homeContent #areasContainer a:hover{	color:#06C; }

#homeContent #areasContainer2{	margin:1px 0px 5px 30px;	width:495px;	height:79px;	padding:0px; 	color:#000;	}
#homeContent #areasContainer2 a{	color:#000; }
/*#homeContent #areasContainer2 a:hover{	color:#06C; } */
#homeContent #areasContainer2 a div{	padding:2px 6px 0px 6px; height:18px;	width:auto;	margin:5px 0px 5px 0px; }
#homeContent #areasContainer2 a div:hover{	/*background-color:#66adbf;*/ color:#40656e/*66adbf*/; }
#homeContent #areasContainer2 a .activeLink{	background-color:#d4effc; color:#000; }
#homeContent #areasContainer2 a .activeLink:hover{	background-color:#d4effc; color:#000; }
/*#homeContent #areasContainer a div{
	padding: 5px 0px;
	float:left;
	height:100%;
	width:135px;
}*/
#homeContent #areasContainer2 .areasList{
	padding: 2px 0px 5px 0px;
	margin:0px;
	float:left;
	height:75px;
}
#homeContent #areasContainer2 .areasList a{	cursor:pointer;	}
#homeContent #areasContainer2 .areasList .areas2liner div {	width:133px;  height:42px;	line-height:1.9; margin-top:5px; padding-top:0px;	}
#homeContent #areasContainer2 .areasList .areas2liner .activeLink {	width:133px;  height:42px;	line-height:1.9; margin-top:5px; padding-top:0px;	}
#homeContent #areasContainer2 #areas1{
	padding-left:0px;
	margin:0px 0px 0px 0px;
	width:195px;
}
#homeContent #areasContainer2 #areas2{
	margin:0px 0px 0px 0px;
	width:135px;
}
#homeContent #areasContainer2 #areas3{
	padding-right:0px;
	padding-left:0px;
	margin:0px 0px 0px 0px;
	width:135px;
}
#homeContent .areasblock{
	margin:0px 0px 10px 30px;
	padding:6px 0px 0px 0px;
	/*height:380px;*/
}
#homeContent .areasblock p{
	margin-left:5px;
}
#homeContent .areasblock p a{
	color:#476971;
}

#homeContent .areasblock a{ color:#000;	}
#homeContent .areasblock a:hover{ color:#66adbf;	}/*06C*/
#homeContent .areasblock img{ margin-bottom:10px;	}
#homeContent .areasblock img.ctwriter{ margin-bottom:3px;	}
#homeContent .areasblock div {
	font-weight:normal;
	margin:10px 9px;
}
#homeContent .areasblock .secTitle {
	font-weight:bold; font-size:14px; font-family:Arial, Helvetica, sans-serif;
	margin:7px 0 7px 0;
}
#homeContent .areasblock #bpart1, #homeContent .areasblock #bpart4 {
	margin-left:0px;
	float:left;
	width:150px;
}
#homeContent .areasblock #bpart2, #homeContent .areasblock #bpart5 {
	float:left;
	width:150px;
}
#homeContent .areasblock #bpart3, #homeContent .areasblock #bpart6 {
	float:left;
	width:150px;
	margin-right:0px;
}

#homeContent .event_img_inline {
	float:left;
	margin:5px 11px 11px 30px;
	padding:10px 0px 0px 0px;
}
#homeContent .event_img2 {
	margin:5px 11px 6px 0px;
	padding:6px 0px 0px 0px;
	border:none;
}
#homeContent .event_heading {
	color: #678991;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight: bold;
	margin-top:5px;
}

#homeContent .linksExec { margin-top:4px; font-size:12px; color:#66adbf/*414042*/; line-height:1.5; font-weight:bold; letter-spacing:normal;}
#homeContent .linksExec a { color:#678991; /* 414042 222*/
	font-style: normal;
	font-weight: normal;
/*	line-height: 1.6;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration:none;}

#content3col{
	clear: left;
	background-color: #fff;
	height:480px;
	padding-bottom: 0px;
}
/* END */


/* MAIN CONTENT text area to the left */
#mainLeftContent{
	clear: both;
	float: left;
	width: 800px;
	height: auto;
	background-color: #FFF;
	margin-top:0px;
/*	margin-bottom:11000px;
	padding-bottom:-11000px;*/
}
#mainLeftContent_a{
	clear: both;
	float: left;
	padding-top: 10px;
	width: 320px;
	padding-right:0px;
	background-color: #FFFFFF;
	height: auto;
	padding-bottom: 0px;
}
#mainLeftContent_b{
	float: left;
	padding-top: 55px;
	width: 320px;
	padding-right:0px;
	background-color: #FFFFFF;
	height: auto;
}
#mainLeftContent p, #mainLeftContent_a p, #mainLeftContent_b p{
	font-style: normal;
	font-weight: lighter;
	line-height: 1.6;
	margin-left: 30px;
	margin-top:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 0.7px;
	color: #414042;

}
#mainLeftContent li{
	font-style: normal;
	font-weight: lighter;
    line-height: 1.6;
	margin-left: 30px;
	margin-top:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 0.7px;
	color: #414042;

}
#mainLeftContent ul{
font-style: normal;
font-weight: normal;
line-height: 1.5;
}
#mainLeftContent h2, #mainLeftContent_a h2, #mainLeftContent_b h2{
	color: #678991;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-left: 30px;
	font-weight: bold;
	margin-top:5px;

}
#mainLeftContent h3, #mainLeftContent_a h3, #mainLeftContent_b h3{
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	margin-left: 30px;
	margin-bottom:0px;
	font-size:12px;
	padding: 10px 0px 0px -4px;
}
#mainLeftContentSingle h3{
font-style: normal;
font-size:14px;
line-height: 1.5;
margin-left: 30px;
margin-bottom:6px;
}
#mainLeftContentSingle .uldiv{
margin-left: 5px;
}
#mainLeftContent a{
	color:#56757c;/*678991*/
}
#mainLeftContentSingle a{
	color:#678991;
}
#mainLeftContent a:hover{
	color:#66ADBF;
}
#mainLeftContentSingle a:hover{
	color:#66ADBF;
}

/*for single column of mainLeftContent*/
#mainLeftContentSingle{
clear: both;
float: left;
padding-top: 10px;
width: 780px;
padding-right:20px;
}
#mainLeftContentSingle h2{
color: #678991;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
margin-left: 30px;
width:500px;
}
#mainLeftContentSingle .facpic{
	float:left;
	margin:10px 10px 20px 30px;
}
#mainLeftContentSingle .factext{
	float:left;
	font-style: normal;
	font-weight: normal;
	line-height: 1.5;
	width:500px;
	margin:7px 5px 20px 0px;
}
#mainLeftContentSingle .factext .facname{
	font-style: normal;
	font-weight: bold;
	font-size:16px;
	line-height: 1.5;
}
#mainLeftContentSingle .factext .facContact{
	font-style: normal;
	font-weight: bold;
	font-size:12px;
	vertical-align:bottom;
}
/* END */

/* SUB-CONTENT - right section*/
.dashedHR{ /*just copy whole div line to use dashed hr*/
	border-top: 1px solid #678991;
	margin-right:1px;
	height:1px;
	margin-bottom:0px;
	margin-top:0px;
}  
.dashedHR hr { display: none; }

#subContent{
	float: right;
	font-style: normal;
	/*font-weight: normal;*/
	/*line-height: 1.5;*/
    padding-left: 5px;
	padding-right: 30px;
	padding-top: 25px;
	width: 190px;
	padding-bottom: 25px;
}

#subContent p {
	/*width: 165px;*/
	margin:7px 2px;
	font-style: normal;
	line-height: 1.4;
	margin-top:8px;
	margin-bottom:8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 0.3px;
	color: #414042;
}
#subContent h3{
color: #000;
margin:0px 2px 5px 2px;
font-size:12px;
}
#subContent li{
color: #30555e;
margin:10px 13px 5px 15px;
list-style-position:outside;

}
#subContent .subText1{color: #00252e;}
#subContent .subText2{color: #30555e;}

#subContent a{color: #30555e;}
#subContent a img{ text-decoration:none; border-style:none;}

#aTable th { font-weight:bold; padding:7px 3px; color:#fafafa; background-color:#2D637F; }
#aTable td { font-weight:normal; padding:5px 3px; color:#333; }


/*   FOR CALENDAR SYNDICATION   */
#subContent div#adx022159 a {  display:block; font-weight:normal; font-size:12px; line-height:1.4; letter-spacing:0.3px} 
#subContent div#adx022159 {  font-size:12px; line-height:1.4; letter-spacing:0.3px; color:#414042; padding:7px 2px 0 2px;} 
#subContent div#adx022159 div.dashedHR { margin:7px 0;  } 
/*   FOR CALENDAR SYNDICATION end  */

/*#subContentHSA ul{		prob not need this now
color: #000;
					  padding-top: 8px;          commented out before
					  padding-right:0px;
					  padding-left:0px;
					  width: 165px;
					  margin-left:0px;
					  text-indent:-16px;
					  font-size:10px;
					  list-style-type:none;
line-height:1.5;
list-style-position:outside;
}
#subContentHSA li{
list-style: none;
padding-top:15px;
list-style-position:outside;
}*/

/* Overview Page*/
img.brown{margin-bottom: 10px;}

.clickinfo {	font-size: 11px;	font-weight:bold; letter-spacing:normal;	color: #5d9eaf;	}

/*Cont ED courses section CSS starts here */
/*TAKEN FROM CONT ED CSS... CHECK THERE FOR UPDATES*/
#courseCategories {	margin:0px 0px 10px 30px; padding:0px; width:500px; height:209px;	}
#courseCategories a div {	height:15px; font-size:9px; font-weight:bold; color:#565656;  border:2px solid #d5e3ee; padding:4px 0px 0px 5px; margin:0px 5px 4px 0px; float:left; cursor:pointer;	}
#courseCategories a div:hover {	color:#678991;	}
#courseCategories a .activeLink{	background-color:#76adcc; color:#fff; border:2px solid #76adcc; }
#courseCategories a .activeLink:hover{	background-color:#76adcc; color:#fff;  }

.courseListings {	width:500px; margin:0px 0px 10px 30px; display:none;  }
.courseListings a {	 color:#565656 !important; display:block;  width:485px; height:; font-weight:normal; font-size:11px; padding:4px 3px 6px 3px;	margin:2px 0px 2px 0px; border-bottom:1px solid #76adcc;	 }
.courseListings a:hover {	 color:#678991 !important;	/*background-color:#f4f4f4;*/ }
/*.courseListings a {	 color:#565656 !important; display:block; float:left; width:165px; height:25px; font-weight:normal; font-size:11px; padding:2px 0px;	margin:2px 0px;	 }
.courseListings a:hover {	 color:#678991 !important; }*/

.hrCourses{ border-top:2px solid #76adcc;	margin-right:8px;	height:1px;	margin-bottom:0px;	margin-top:0px; margin-left:1px;	}  
.hrCourses hr { display: none; }

.spotlightArchive { color:#fff !important; background-color:#30555e; }
.pad3pxall { padding:3px; }

/*Cont ED courses section CSS ends here */


